.footer {
  background: #000000;
}
.footer__inner {
    padding-top: 70px;
    padding-bottom: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__list {
   
  list-style-type: none;
  display: flex;
  align-items: center;
}
.footer__link {
  text-decoration: none;
  font-family: "Oswald";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #ffffff;
}
.footer__item +.footer__item{
    margin-left: 20px;
}
